<!DOCTYPE html>

<html>

<head>
    <title>Error Page</title>
    <link rel="icon" href="/images/task.jpg">
    <link rel="stylesheet" href="/css/styles.css">
  
</head>

<body>
    <div class="maincontent">
        {{>headerUser}}
    
    {{!-- <div class="alert alert-success" role="alert">
        {{success}}</div> --}}
    
        <div class="userinfo" id="display">
        <p class="inner" id="titles">404</p>
        
        <p>{{error}}</p>

</body>
</html>