<!DOCTYPE html>

<html>

<head>
    <title>My Task Manager</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="/css/styles.css">
  
</head>

<body>
    <div class="maincontent">
        {{>header}}
    <div class="userinfo" id="display">
        <p class="inner" id="titles">Signup</p>

    <div class="labels">
        <p>Email:<span style="color:red">*</span></p>
        <p>Name:<span style="color:red">*</span></p>
        <p>Age:<span style="color: #999999">_</span></p>
        <p>Password:<span style="color:red">*</span></p>
    </div>

    <form method="POST" enctype="multipart/form-data" action="/users">
    <div class="text">
        <input type="email" name="email" required/>
        <input type="text" name="name" required/>
        <input type="text" name="age" />
        <input type="text" name="password" required/>
    </div>

    <p>Already a user? <a href="/login" style="color:#800000"><u>Login</u></a></p>

    <div id="submit">
        <input class="opts submitform" type="submit" value="Submit"/>
    </div>
    </form>

    </div>


    </div>
    {{>footer}}

</body>
</html>