<!DOCTYPE html>

<html>

<head>
    <title>My Task Manager</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  
</head>

<body>
    <div class="maincontent">
        {{>headerUser}}
    <div class="options" id="options">
        <button class="opts" type="button"><a href="/tasks">All</a></button>
        <button class="opts" type="button"><a href="/tasks?completed=false">Pending</a></button>
        <button class="opts" type="button"><a href="/tasks?completed=true">Completed</a></button>
    </div>

    <div class="tasks" id="display">
        <p id="tasks">{{taskss}} </p>

    </div>

   </div>
    {{>footer}}

    <script src="/js/app.js">
    </script>

</body>
</html>