<!DOCTYPE html>

<html>

<head>
    <title>My Task Manager</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="/css/styles.css">
  
</head>

<body>
    <div class="maincontent">
        {{>headerUser}}

    <p>{{tasks}}</p>

   </div>
    {{>footer}}

    <script src="/js/app.js"></script>

</body>
</html>