<!DOCTYPE html>

<html>

<head>
    <title>My Task Manager</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="/css/styles.css">
  
</head>

<body>
    <div class="maincontent">
        {{>headerUser}}

    <form enctype="multipart/form-data" action="/users/me" id="updateUser">
        <p>Name: </p> 
        <input type="text" name="description" value={{user}} id="uname"/>
        <p>Email: </p> 
        <input type="text" name="description" value={{email}} id="uemail" />
        <p>Age: </p> 
        <input type="text" name="description" value={{age}} id="uage"/>
        <input type="submit" value="Submit"/>
    </form>  

   </div>
    {{>footer}}

    <script src="/js/uapp.js"></script>

</body>
</html>