<header>
<h2 class="title title1"><img src="/images/task.jpg" class="icon"/>MY TASK MANAGER</h2>

<div class="nav">
<h2 class="nav">
    <a class="navs" id="tasksb" href="/tasks">My tasks</a>
    <a class="navs" id="add" href="/addtask">Add task</a>
    <a class="navs" id="profile" href="/users/me">Profile</a>
    <a class="navs" href="/logout">Logout</a>    
</h2>
</div>
</header>
