<header>
<h2 class="title"><img src="/images/task.jpg" class="icon"/>MY TASK MANAGER</h2>

<h2 class="nav">
    <a class="navs" id="login" href="/login">LOGIN</a>
    <a class="navs" id="signup" href="/users">SIGNUP</a>
</h2>
</header>
