<header>
<h2 class="title">MY TASK MANAGER</h2>

<h2 class="nav">
    <a href="/tasks">My tasks</a>
    <a href="/addtask">Add task</a>
    <a href="/users/me">Profile</a>
    <a href="/logout">Logout</a>    
</h2>
</header>
