body {
    color: #FFFFFF;
    font-family: Arial;
    /* max-width: 900px; */
    margin: 0 auto;

    background-color: #FFFFFF;

    display:flex;
    flex-direction: column;
    min-height: 100vh
}

.maincontent{
    flex-grow: 1
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 18px 0;
    text-align:center;
    background-color: #660000;
}

header {
    /* background-color: #99ccff; */
    background-color: #660000;
    /* text-align: center; */
    margin-top: 0px;
    margin-bottom: 8px;
    margin-right: 0px;
    padding-top:9px;
    padding-bottom: 8px;
}

/* h1 {
    font-size: 64px;
    font-family: "Helvetica";
    margin-top: 0;
    margin-bottom: 16px;
    padding-top:16px;
} */

.title{
    font-family: "Helvetica";
    margin-top: 0;
    margin-right: 0;
    /* margin-bottom: 16px; */
    margin-left: 20px;
    /* padding-top:10px;
    padding-bottom:10px; */
    width: 60%;
}

.nav{
    font-family: "Helvetica";
    margin-top: 0;
    margin-right: 0;
    /* margin-bottom: 16px; */
    margin-left: 20px;
    /* padding-top:10px;
    padding-bottom:10px; */
}


a{
    text-align: right;
    color: #ffffff;
    margin-right: 16px;
    text-decoration: none;
}



input {
    border: 1px solid #cccccc;
    padding: 8px;
    margin: 0 auto;
    font-size: 20px
}

button {
    cursor: pointer;
    border: 1px solid #99ccff;
    background: #99ccff;
    color: white;
    font-size: 20px;
    padding: 8px;
}

p {
    font-family: "helvetica";
    font-size: "30px";
    text-align: center;
    color: #000000;
}

form {
    text-align: center;
    color: black;
}

img {
    width: 20px;
    height: 20px;
}

.title{
    float:left;
}

#display {
    color: black;
    margin-left: 12.5%;
    margin-right: 12.5%;
    min-width: 75%;
}

.task {
    margin: 10px 10px;
    padding:10px;
    overflow:hidden;
}   

.red{
    background-color: rgba(255, 0, 0, 0.8);
 
}

.green{
    background-color: rgba(0, 153, 0, 0.8);
}

#desc{
    font-size: 30px;
    font-family: 'helvetica';
}

.left{
    width: 70%;
    float: left;
}

.add {
    float:right
}

#tasks{
    color: white;
}

#desc, #due{
    position: relative;
}

#completed, #created {
    position: relative;
    color:white;
}